/**contains all containers*/
.center-Wrapper-Dell-Edit-Card{
    border: 2px solid rgb(0, 0, 0);
    width:auto;
    margin:10% ;
    border: none;
}

.newPost{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    margin: 15px 10%;
    background-color: rgb(174, 203, 216);

}


/*
.newPost .new-TextField{
     margin:0px 5px ;
}

.newPost .space-element{
     margin:0px 5px ;
}*/


/*this is the upvote and downvote class */
.UpDown-vote{
    display: flex;
    flex-direction: column;
    height:150px;
    width: 75px;
    /*background-color: rgb(197, 205, 210);*/
    fill: rgb(197, 205, 210);;
    color: white;
    font-size: small;
    font-weight: bold;
}


.delete-edit-you-txtfield-containe{
   display: block;
   width: 750px;
   height:auto;

}


.delete-edit-you-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 750px;
    height: 50px;
    margin:10px;
}


.txtfield-container{
    margin:10px;
}



/*rREsponisive UI*/


/*import { createTheme } from '@mui/material/styles';

// eslint-disable-next-line
const theme = createTheme({
    palette: {
        primary: {
            moderateBlue: '#03a9f4',
            softRed: '#e53935',
            lightGrayishBlue: '99dfff',
            paleRed: '#ff5252',
        },
        secondary: {
            darkBlue: '#093170',
            grayishBlue: '#bbdefb',
            lightGray: '#e0e0e0',
            white: '#000',
        },
    },
});
*/










/*moves Wrapper class content in center*/
.center-Wrapper{
    display: flex;
    justify-content: center;
    height:150px;
    align-items: center;
    width: auto;
    margin-top:20px;
   

}

/*align items on hor. axis with space around each component in the Wrapper class container**/

.Wrapper{
    /*top: 0;
    position:absolute;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 875px;
    margin:0px 10% ;
}

.Wrapper .space-element{
    margin:0px 5px ;

}




